$violet: #2D2241;
$yellow: #F9C802;
//Fonts Variables
$inconsolata: 'Inconsolata', monospace;
$open-sans: 'Open Sans', sans-serif;
//Media Queries
$small-desktop: 1262px;
$tablet: 1004px;
$mobile: 744px;